<ion-view view-title="Contact">
  <ion-content>
    <div class="row responsive-md">
      <div class="col">
        <div>
          <img src="../img/Card%20Front%20Hammad.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
        <div>
          <img src="../img/Card%20Front%20Fareed.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
      </div>
      <div class="col ">

        <div>
          <img src="../img/Card%20Front%20Kamran.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
        <div>
          <img src="../img/Card%20Front%20Danish.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
      </div>
      <div class="col">

        <div>
          <img src="../img/Card%20Front%20Wahaj.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
        <div>
          <img src="../img/Card%20Front%20Danish.jpg"
               style="width: 252px;height: 144px;border: 1px solid black">
        </div>
      </div>


    </div>


  </ion-content>
</ion-view>
<ion-footer-bar style="background-color:#b43230;border-bottom: 1px solid #b43230">
  <button class="button button-clear">Left</button>
  <div class="title">Info@SoftwareSufi.com</div>
  <button class="button button-clear">Right</button>

</ion-footer-bar>
